<!DOCTYPE html>
<html>
<head>
	<title>Play audio</title>
	<meta name="viewport" content="width=device-width">
</head>
<body style="margin: 0px;">
<video controls="" autoplay="" name="media"><source src="https://r9---sn-cvh7kn7r.googlevideo.com/videoplayback?ms=au&amp;mv=m&amp;mt=1474988010&amp;source=youtube&amp;requiressl=yes&amp;dur=261.801&amp;id=o-ALQTOHvHipGf-hKEs5XZH-P1eGxEBFuGfo7zRZVnd2AD&amp;mn=sn-cvh7kn7r&amp;pl=20&amp;mm=31&amp;gcr=in&amp;expire=1475010492&amp;ipbits=0&amp;sparams=clen%2Cdur%2Cei%2Cgcr%2Cgir%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Ckeepalive%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cnh%2Cpl%2Crequiressl%2Csource%2Cupn%2Cexpire&amp;initcwndbps=101250&amp;lmt=1469643233555388&amp;nh=IgpwcjAxLmJvbTA3Kg03NC4xMjUuNDguMTM3&amp;itag=249&amp;key=yt6&amp;mime=audio%2Fwebm&amp;ip=117.239.205.194&amp;keepalive=yes&amp;gir=yes&amp;clen=1670265&amp;upn=iMCmPE6c3dA&amp;ei=XIvqV8zeBdXsogPDnq7wDA&amp;signature=2F2444BE949FBFC66A40B46F958CC3EBDBBC177A.9D8A127AB1ED9D707D3A29166B55B85CCE2086D7&amp;ratebypass=yes&amp;ir=1&amp;rr=12" type="audio/webm"></video>
</body>
</html>