{% load static %}
<html>
    
    <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <link href="{% static "MusicApp/css/style.css" %}" rel="stylesheet" type="text/css">
     <link href="{% static "MusicApp/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">

    </head>
    
    
    
    
    <body class="wraper">
       <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="homepage.html">Home</a>
                
                <a href="playlist.html">PlayList</a>
                <a href="profile.html">Profile</a>
                <a href="history.html">History</a>
            </div>

            <div class="row Mheader">
                
                <div class="col-md-3">
                <div class="row logo">
                    <div class="col-md-4"><span class="sideIcon" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
                        </span></div>
                    <div class="col-md-8"><p class="pqusic">PQusic</p><p class="webApp">A Music Web App</p></div>
                </div>
                </div>
                <!--div class="col-md-6">
                    <div class="row Mheader1">
                        <div class="col-md-10"><input type="text" name="search" 
                                                                     placeholder="Search songs..."></div>
                        <div class="col-md-2"><button type="button">Search</button></div>
                    </div>
                </div-->
                
            </div>
               
       
        
        <div class="middle_content">
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Activation Form</h3></div>
          <div class="panel-body">
                     <!---------------form started---------------------->
            <form method="POST" action="{% url "musicapp:activate" %}" class="form-horizontal" role="form">
	        {% csrf_token %}
                <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
	           <input type="text" name="email" class="form-control" id="inputEmail3" placeholder="Email" />
                </div>
            </div>
	
                <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Key</label>
                <div class="col-sm-9">
                  <input type="text" name="key" class="form-control" id="inputPassword3" 
                         placeholder="Activation key" />
                </div>
              </div>
                
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" name="submit" class="btn btn-default">Sign in</button>
                </div>
              </div>
            </form><!-----------form end---------------------->
          
            </div>
        </div>
        </div>
    </div>
  </div>
        </div>
        
        
        
        
    </body>
</html>