{% load static %}
<html>
    
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="{% static "MusicApp/css/style.css" %}" rel="stylesheet" type="text/css">
         <link href="{% static "MusicApp/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">

    </head>
       {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li style="color: aqua" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <body class="wraper">
   <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url "musicapp:home" %}">Home</a>

    <a href="{% url "musicapp:view-playlists" %}">PlayList</a>
    <a href="{% url "musicapp:view_profile" %}">Profile</a>
    <a href="{% url "musicapp:view_history" %}">History</a>
</div>
            <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                }
            </script>
            <div class="row Mheader">
                
                <div class="col-md-3">
                <div class="row logo">
                    <div class="col-md-4"><span class="sideIcon" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
                        </span></div>
                    <div class="col-md-8"><p class="pqusic"><a href="{% url "musicapp:home" %}" >PQusic</a></p>
                    <p class="webApp">A Music Web App</p></div>
                </div>
                </div>
                <!--div class="col-md-6">
                    <div class="row Mheader1">
                        <div class="col-md-10"><input type="text" name="search" 
                                                                     placeholder="Search songs..."></div>
                        <div class="col-md-2"><button type="button">Search</button></div>
                    </div>
                </div-->
                
            </div>
            
        
        <div class="middle_content">
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Change password</h3></div>
          <div class="panel-body">
                     <!---------------form started---------------------->
            <form method="POST" action="{% url "musicapp:change_password" %}" class="form-horizontal" role="form">
	       {% csrf_token %}
                <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Old password</label>
                <div class="col-sm-8">
	           <input type="password" name="old_password" class="form-control" id="inputEmail3"
                      placeholder="old password"/>
                </div>
            </div>
	       <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">New password</label>
                <div class="col-sm-8">
	           <input type="text" name="new_password" class="form-control" id="inputEmail3"
                      placeholder="new password" />
                </div>
            </div>
	
                <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">confirm password</label>
                <div class="col-sm-8">
                  <input type="text" name="new_password_again" class="form-control" id="inputPassword3"
                         placeholder="confirm password" />
                </div>
              </div>
                
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <button type="submit" name="submit" class="btn btn-default">Sign in</button>
                </div>
              </div>
            </form><!-----------form end---------------------->
          
            </div>
        </div>
        </div>
    </div>
  </div>
        </div>
    </body>
</html>