<!DOCTYPE html>
<html>
<head>
	<title>change password</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% csrf_token %}
    <form action="{% url "musicapp:change_password" %}" method="POST">
        {% csrf_token %}
    {{ user.username }}
	<p>old password</p><br>
	<input type="text", name="old_password">
	<p>new password</p><br>
	<input type="text" name="new_password">
	<p>new password (again)</p><br>
	<input type="text" name="new_password_again">
    <input type="submit" name="submit">
</form>
</body>
</html>