{% load static %}
<html>
    
    <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{% static "MusicApp/css/style.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "MusicApp/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    </head>
    
    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
    
    
    <body class="wraper">
            {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li style="color: aqua">
                	{% if message.tags %} "
                		{{ message }}
                	{% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
 <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url "musicapp:home" %}">Home</a>

    <a href="{% url "musicapp:view-playlists" %}">PlayList</a>
    <a href="{% url "musicapp:view_profile" %}">Profile</a>
    <a href="{% url "musicapp:view_history" %}">History</a>
</div>

            <div class="row Mheader">
                
                <div class="col-md-3">
                <div class="row logo">
                    <div class="col-md-4"><span class="sideIcon" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
                        </span></div>
                    <div class="col-md-8"><p class="pqusic"><a href="{% url "musicapp:home" %}" >PQusic</a></p>
                    <p class="webApp">A Music Web App</p></div>
                </div>
                </div>
                <!--div class="col-md-6">
                    <div class="row Mheader1">
                        <div class="col-md-10"><input type="text" name="search" 
                                                                     placeholder="Search songs..."></div>
                        <div class="col-md-2"><button type="button">Search</button></div>
                    </div>
                </div-->
                
            </div>
                
       
        
        <div class="middle_content">
<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Create New Playlist</h3></div>
          <div class="panel-body">
                     <!---------------form started---------------------->
            <form method="POST" action="{% url "musicapp:create-playlists" %}" class="form-horizontal" role="form">
	       {% csrf_token %}
                <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
	           <input type="text" name="name" class="form-control" id="inputEmail3" placeholder="New playlist" />
                <label>Public</label>
                <input type="radio" name="privacy" value="1" style="margin-left: 5%"> <br>
                <label>Private</label>
                <input type="radio" name="privacy" value="0" style="margin-left: 5%"><br>
                </div>
            </div>
	
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" name="submit" class="btn btn-default">Create</button>
                </div>
              </div>
            </form><!-----------form end---------------------->
          
            </div>
        </div>
        </div>
    </div>
  </div>
        </div>
        
        
        
    </body>
</html>