{% load static %}
<html>
    
    <head>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <link href="{% static "MusicApp/css/style.css" %}" rel="stylesheet" type="text/css" rel="stylesheet" type="text/css">
     <link href="{% static "MusicApp/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" rel="stylesheet" type="text/css">
    </head>
    
    
    <body class="wraper">
        
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="homepage.html">Home</a>
                <a href="homepage.html">Trending</a>
                <a href="#">PlayList</a>
                <a href="profile.html">Profile</a>
                <a href="#">History</a>
            </div>

            <div class="row Mheader">
                
                <div class="col-md-2">
                <div class="row logo">
                    <div class="col-md-4"><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;
                        </span></div>
                    <div class="col-md-8"><p class="pqusic"><a href="{% url "musicapp:home" %}" >PQusic</a></p>
                    <p class="webApp">A Music Web App</p></div>
                </div>
                </div>
                <div class="col-md-7">
                    <div class="row Mheader1">
                        <div class="col-md-10"><input type="text" name="search" 
                                                                     placeholder="Search songs..."></div>
                        <div class="col-md-2"><button type="button">Search</button></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row Mheader2">
                        
                        <div class="col-md-5 col-md-offset-1"></div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
            

        <div class="song_level">
        <pre>Playlists</pre></div>
        <div class="playlist_song">
        <table class="table table-bordered hover-table">
        {% if playlists %}
            {% for name, song_count in playlists %}
                <tr class="T_tr">
                    <th class="td1"><a href="{% url "musicapp:playlist_songs" name %}">{{ name }}</a></th>
                    <th class="td2">{{ song_count }}</th>
                    <th class="td2">{{ privacy }}</th>
                    <th class="td4"><a href="{% url "musicapp:delete-playlist" name %}">Delete</a></th>
                </tr>
            {% endfor %}
        {% endif %}
            
        </table>
        </div>
        
        <div class="row footer"> <!-------footer------->
            <div class="col-md-7"></div>
            <div class="col-md-5"><img src="css/images/f.png"  width="60px" height="60px"><img src="css/images/y.png"  width="60px" height="60px"><img src="css/images/g.png"  width="60px" height="60px"><img src="css/images/in.png"  width="60px" height="60px"><img src="css/images/t.png"  width="60px" height="60px"></div>
        </div><!--footer--->
    
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                }
        </script>
    </body>
</html>