{% load staticfiles %}
<html>
<head>
	<title>Login Page</title>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
     <link href="{% static "MusicApp/css/style.css" %}" rel="stylesheet" type="text/css">
     <link href="{% static "MusicApp/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
</head>

<body class="wraper">

       {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li style="color: aqua" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
            <div class="row Hheader">
                <div class="col-md-5"><p>PQusic</p></div>
                <div class="col-md-4 col-md-offset-3">
                    <div class="row Hheader1">
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>


        <div class="row login_body">
            <div class="col-md-4 col-md-offset-4">
                <div class="model">
                    <form class="modal-content animate" method="POST" action="{% url "musicapp:login" %}">
                        {% csrf_token %}
                        <div class="imgcontainer">
                            <img src="{% static "MusicApp/user.jpg" %}" alt="Avatar" class="avatar">
                        </div>
                        <div class="container">
                            <label><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="username" required>
                            <label><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="password" required>
                            <button type="submit" name="submit">Login</button>
                            <br>
                            <div class="cancel">
                                <input type="checkbox" checked="checked"> Remember me
                                <span class="forget">Forgot <a href="#" class="aHref">password?</a></span>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>